<div class="main issue-view">
  <h1>{{model.issue.title}} <span class="issue-number">#{{model.issue.id}}</span></h1>
  <!-- <button class="new-issue">New Issue</button> -->
  <div class="issue-metadata">
    <span class="issue-status open">
      <span class="icon-issue-opened"></span>
      Open
    </span>
    <span>{{model.issue.user.login}} opened this issue {{moment-from-now model.issue.createdAt}} · {{model.issue.commentsCount}} comments</span>
  </div>
  <hr>
  <div class="issue-comment">
    <div class="issue-comment-author">
      {{gravatar-img avatarUrl=model.issue.user.avatar_url}}
    </div>
    <div class="issue-comment-content">
      <div>
        {{md-text text=model.issue.body linkify=true}}
      </div>
    </div>
  </div>

  {{#each model.issue.comments as |comment|}}
    <div class="issue-comment">
      <div class="issue-comment-author">
        {{gravatar-img avatarUrl=comment.user.avatar_url}}
      </div>
      <div class="issue-comment-content">
        <div class="issue-comment-attribution">{{comment.user.login}} commented {{moment-from-now comment.createdAt}}</div>
        <div>
          {{md-text text=comment.body linkify=true}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
